# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# SwiftPM
.swiftpm/
.build/
